.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  color: white;
  margin: 0;
  padding: 0;
  background: url("/src/img/summer.jpg") no-repeat fixed center;
  background-size: cover;
}
body p {
  font-size: 18px;
}
