.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  color: white;
  margin: 0;
  padding: 0;
  background: url("/src/img/summer.jpg") no-repeat fixed center;
  background-size: cover;
}
body p {
  font-size: 18px;
}

footer {
  text-align: center;
  font-weight: 500;
}
footer .link {
  color: white;
  text-decoration: none;
}
footer .link:hover {
  color: rgba(104, 105, 105, 0.568);
}
